<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073112081828-b41brrf6aeuahrsdaf60bj03lh8rophg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073112081828-b41brrf6aeuahrsdaf60bj03lh8rophg</string>
	<key>API_KEY</key>
	<string>AIzaSyDwzSOINOwDEZuvgNfthf9sf1ChTuFFIN8</string>
	<key>GCM_SENDER_ID</key>
	<string>1073112081828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.henmyg.MeterLog</string>
	<key>PROJECT_ID</key>
	<string>meterlog-98387</string>
	<key>STORAGE_BUCKET</key>
	<string>meterlog-98387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073112081828:ios:0aa1b27122a93964eb8d31</string>
</dict>
</plist>